/* Base Application Styles */
body {
}

#map{
  position: absolute;
  top: 80px;
  background: url(../images/map.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1280px;
  height: 700px;
}

.Products{
  position: absolute;
  background: url(../images/gallery.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 120px;
}

.sponsor{
  position: absolute;
  left: 10%;
}


.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

i text{
  visibility: visible;
}

.fixedNavBar{
  position: fixed;
  width: 100%;
  height: 60px;
  background: #666 !important; 
  z-index: 3000;
}

#navBar {
  right:0;
  height: 60px;
 
}

#projects{
  position: absolute;
  top:2000px;
  left: 10%;
}


#store{
  position: absolute;
  left: 10%;
}

.element {
  height:1000px;
  background-color: #ededed;
  font-size: 45px;
  border-top:1px solid #000;
  padding-top:55px;
  padding-left:10px;
}

.active {
  color:red !important;
}