/* Base Application Styles */
body {
}

.map{
  position: absolute;
  top: 60px;
  background: url(../images/map.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1280px;
  height: 700px;
}

.sponsor{
  position: absolute;
  top: 800px;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

#navBar {
  position: absolute;
  right:0;
}
