/* Base Application Styles */
body {
}

#map{
  position: absolute;
  top: 60px;
  background: url(../images/map.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1280px;
  height: 700px;
}

.Products{
  position: absolute;
  top: 1600px;
  background: url(../images/gallery.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 700px;
  height: 500px;
  left: 20%;
  margin: 50px;
}

.sponsor{
  position: absolute;
  left: 10%;
  top: 800px;
}

.StoreSlogan{
  position: absolute;
  top:1500px;
  left: 10%;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

i text{
  visibility: visible;
}

.fixedNavBar{
  position: fixed;
  width: 1200px;
  height: 80px;
  background: #666; 
  z-index: 3000;
}

#navBar {
  position: absolute;
  right:0;
}

#projects{
  position: absolute;
  top:2000px;
  left: 10%;
}
